/*    ==Scripting Parameters==

    Source Server Version : SQL Server 2017 (14.0.2002)
    Source Database Engine Edition : Microsoft SQL Server Enterprise Edition
    Source Database Engine Type : Standalone SQL Server

    Target Server Version : SQL Server 2008 R2
    Target Database Engine Edition : Microsoft SQL Server Standard Edition
    Target Database Engine Type : Standalone SQL Server
*/
USE [master]
GO
/****** Object:  Database [PaymentQueue]    Script Date: 2/20/2019 4:09:38 PM ******/
CREATE DATABASE [PaymentQueue] ON  PRIMARY 
( NAME = N'PaymentQueue', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL14.MOBILE_2_19_1\MSSQL\DATA\PaymentQueue.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'PaymentQueue_log', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL14.MOBILE_2_19_1\MSSQL\DATA\PaymentQueue.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PaymentQueue].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PaymentQueue]
GO
/****** Object:  User [ADVANCED]    Script Date: 2/20/2019 4:09:38 PM ******/
CREATE USER [ADVANCED] FOR LOGIN [ADVANCED] WITH DEFAULT_SCHEMA=[dbo]
GO
sys.sp_addrolemember @rolename = N'db_owner', @membername = N'ADVANCED'
GO
/****** Object:  Table [dbo].[CUSTOMERACCOUNTAMOUNT]    Script Date: 2/20/2019 4:09:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CUSTOMERACCOUNTAMOUNT](
	[I_TRANSACTIONID] [numeric](18, 0) NOT NULL,
	[C_SOURCE] [varchar](10) NOT NULL,
	[C_CUSTOMER] [varchar](15) NOT NULL,
	[C_ACCOUNT] [varchar](15) NOT NULL,
	[N_AMOUNT] [numeric](10, 2) NOT NULL,
	[ID] [uniqueidentifier] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PARAMCOUNTER]    Script Date: 2/20/2019 4:09:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PARAMCOUNTER](
	[C_COUNTER] [char](15) NOT NULL,
	[N_COUNTER] [decimal](15, 0) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PARAMETER]    Script Date: 2/20/2019 4:09:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PARAMETER](
	[I_TRANSACTIONID] [numeric](18, 0) NULL,
	[C_NAME] [nchar](50) NULL,
	[C_VALUE] [nchar](800) NULL,
	[C_SOURCE] [nchar](10) NULL,
	[ID2] [uniqueidentifier] ROWGUIDCOL  NULL,
	[DATEENTERED] [datetime] NOT NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CUSTOMERACCOUNTAMOUNT] ADD  CONSTRAINT [DF_CUSTOMERACCOUNTAMOUNT_ID]  DEFAULT (newid()) FOR [ID]
GO
ALTER TABLE [dbo].[PARAMETER] ADD  CONSTRAINT [DF_PARAMETER_ID2]  DEFAULT (newid()) FOR [ID2]
GO
ALTER TABLE [dbo].[PARAMETER] ADD  CONSTRAINT [DF_PARAMETER_DATEENTERED]  DEFAULT (getdate()) FOR [DATEENTERED]
GO
/****** Object:  StoredProcedure [dbo].[GetCounter]    Script Date: 2/20/2019 4:09:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetCounter]
@counter_code VARCHAR(15), @counter_value DECIMAL(15,0) OUTPUT, @amount INTEGER = 1
AS
SET @counter_value = 0
UPDATE dbo.PARAMCOUNTER SET @counter_value=N_COUNTER=case when N_COUNTER+@amount>999999999999999 then -1 else N_COUNTER+@amount end where C_COUNTER=@counter_code
IF @@ROWCOUNT=0
BEGIN
    INSERT INTO dbo.PARAMCOUNTER VALUES (@counter_code, @amount)
IF @@ERROR=0
set @counter_value=@amount
ELSE IF @@ERROR=2627  --duplicate
UPDATE dbo.PARAMCOUNTER SET @counter_value=N_COUNTER=case when N_COUNTER+@amount>999999999999999 then -1 else N_COUNTER+@amount end where C_COUNTER=@counter_code
ELSE
set @counter_value=-2
END
IF @amount>1 AND @counter_value>0
SET @counter_value=@counter_value-@amount+1
RETURN
GO
USE [master]
GO
